
html {
font-family: 'Helvetica Neue', sans-serif; 

}

body{
background: url(https://images.unsplash.com/photo-1504610926078-a1611febcad3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e1c8fe0c9197d66232511525bfd1cc82&auto=format&fit=crop&w=2000&q=80);
}




#content{
text-align:center;
padding-top: 25px;
color: gray;
}

#description{
	/*border: 5px solid red;*/
	text-align: center;
	margin: 0 auto;
	width: 250px;
	color:white;
} 	

.text {
font-weight: 700;
color:white;
letter-spacing: 4px;
}

.title {
	margin-top: 7px; 	
	letter-spacing: 1px;
	padding-bottom: 35px;
	color:white;
}

img {
border-radius: 50%;
width: 250px;
height: 250px;
margin-bottom: 35px;
}

.btn {
	margin-top: 35px;
	margin-bottom: 17px;
	font-size: 25px;
}
.btn-xl {
    
    border-radius: 10px;
    font-family: 'Helvetica Neue', sans-serif;
    width:250px;    //Specify your width here
}
.btn-primary {
    color: #000000;
    background-color: #0495c9;
    border-color: #357ebd; /*set the color you want here*/
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: black;
    background-color: #00b3db;
    border-color: #285e8e; /*set the color you want here*/
}

.social-icons {
 font-size:40px;
 border:1px solid gray;
 border-radius: 50%;
 display:inline-block;
 background: gray;
 width: 64px;

}

.social-icons a {
 color:white;	
}

.line-break {
	width: 270px;
	margin: 0 auto;
	color: gray;
	border-top: 1px solid white;
}

#bio{
	margin-bottom: 0;
}
 


#email {
	margin-left: 10px;		
}